/*  The Css reset part was made by Eric Meyer
	http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 16px;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of "Css reset" */

/*body*/
body{
	background: #BEB0A8;
	width:auto;
}
/*body*/



/*container/fonts*/
#container{
	background-color: transparent;
	margin:auto;
	max-width:1200px;

	font-size:16px;
	line-height:16px;
}

@font-face{
	font-family:playfair;
	src:url('fonts/playfairbold.ttf') format('truetype');
}
@font-face{
	font-family:merriweather;
	src:url('fonts/merriweather.ttf') format('truetype');
}
@font-face{
	font-family:lora;
	src:url('fonts/lora.ttf') format('truetype');
}
/*container/fonts*/




/*header*/
#header{
	margin-top:20px;
}
#header>h1{
	border:1px solid black;
	text-align:center;
	padding:10px;
	margin:0px 0px 10px 0px;
	font-family: 'playfair', serif;
	font-size:200%;
	background: #BF8B9C url(pics/jslogoblueyellow.svg) no-repeat;
	box-shadow: 2px 2px 2px black;
}
/*header*/




/*images*/
#dummies {
    float: left;
    padding: 10px 10px 0px 10px;
    max-width:20%;
    min-width:150px;
    height:auto;
}/*presentation.html*/

#badge {padding: 10px 10px 0px 10px;}/*index.html*/

#testpic {
	padding: 10px 10px 0px 10px;
	max-width:150px;
	height:auto;
}/*laborationer.html*/

#spritestart {
	background-position:0px -48px;
}
#spritestart:hover:not(.activesprite){background-position:0px 0px;}

#spritelabb{
		background-position:0px -144px;
}
#spritelabb:hover:not(.activesprite){background-position:0px -96px;}

#spriteindex{
		background-position:0px -240px;
}
#spriteindex:hover:not(.activesprite){background-position:0px -192px;}

#spritekontakt{
		background-position:0px -336px;
}
#spritekontakt:hover:not(.activesprite){background-position:0px -288px;}



.sprites {
	background-image:url(../pics/sprite.png);
	width:0px;
	height:24px;
	background-repeat:no-repeat;

}

.right{
	max-width:300px;
	width:auto;
	height:250px;
	float:right;
	padding-right:30%;
}
/*images*/




/*videos*/
#myvid{
	padding: 10px;
	height:auto;
	width:70%;
}
/*videos*/




/*meny*/
#navigation{
	margin:0px 0px 10px 0px;
	text-align:center;
	font-size:100%;
	font-family: 'Merriweather', serif;
}
#navigation ul{
	border: 0px solid black;
}
#navigation li {
	display:inline-block;
	margin:10px 20px 10px 20px;
}
#navigation li a {

	box-shadow: 2px 2px 2px black;
	padding:2px 10px 2px 24px;
	border:1px solid black;
	text-decoration:none;
	color:#000000;
	background-color:#BF8B76;

}

#navigation li a:hover:not(.active){
	background-color:#F7B499;
}
#navigation .active{
	color:#000000;
	background-color:#85766E;
}
/*meny*/





/*content*/
#content{
	width:auto;
	box-shadow: 2px 2px 2px black;
	border:1px solid black;
	background-color: #A6B2BE;
	text-align:left;
	clear:none;
	display:block;
	line-height: 150%;
	word-wrap: normal;
	font-family:'lora';
}
#content p{
	width:auto;
	padding-top:5px;
	padding-bottom:5px;
}
#content a{
	padding-left: 10px;
	padding-right: 10px;
	text-decoration:none;
	color: black;
	border: 1px solid black;
	background-color:#BF8B76;
}
#labbstatus{
	padding: 10px;
}
#content a:hover{
	background-color:#F7B499;
}
#content h1{
	font-size:150%;
	padding:10px;
	padding-top:30px;
	padding-left:40px;
	font-weight:bold;
	display:block;
	clear:none;
	text-align:left;
	background:url(pics/bluearrow.svg) no-repeat;
	background-position: 5px 30px;
	background-size:50px;
}


#content h2{
	font-size:140%;
	padding:10px;
	padding-top:20px;
	font-weight:bold;
}

#content p, h2 , label, select{
	padding-left:5px;
}
#content li, dd, dt{
	padding-left:5px;
	margin:10px;
}
#content dt{
	font-weight:bold;
}
#content dd{
	padding-left:20px;
}
#content legend{
	padding:20px;
	font-weight:bold;
	font-size:120%;
}
#content select{
	margin-left: 5px;
}
#content table{
	margin: 0px 0px 0px 10px;
	background-color: #A6B2BE;
	overflow:auto;
	
}
#content td, th, tfoot{
		text-align:center;
		border-width: 1px;
		border:1px solid black;
		padding:3px;
		vertical-align: middle;
}
/*content*/


/*content/specials*/
#aboutme{
	clear:none;
	display:block;
}
#infoschool{
	padding: 0px 0px 0px 5px;
	clear:left;
}
#str_weak{
}
#priorities{
	padding: 0px 0px 0px 5px;
}
/*content/specials*/




/*footer*/
#footer{
	margin-left: auto;
    margin-right: auto;
    margin-top:20px;
    margin-bottom:20px;
	border: 1px solid black;
	text-align:center;
	clear:none;
	padding:10px;
	background-color:#EDEFF1;
	box-shadow: 2px 2px 2px black;
}
/*footer*/