/*  The Css reset part was made by Eric Meyer
	http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 16px;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: #8B837D;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of "Css reset" */



#container{
	background-color: #A6B2BE;
	margin:auto;
	width:1200px;
	overflow:auto;
	font-size:16px;
	border:1px solid black;
	line-height:16px;
}

@font-face{
	font-family:playfair;
	src:url('fonts/playfairbold.ttf') format('truetype');
}
@font-face{
	font-family:merriweather;
	src:url('fonts/merriweather.ttf') format('truetype');
}
@font-face{
	font-family:lora;
	src:url('fonts/lora.ttf') format('truetype');
}

#header>h1{
	border-bottom:1px solid black;
	text-align:center;
	padding:10px;
	margin:0px 0px 10px 0px;
	font-family: 'playfair', serif;
	font-size:200%;
	background: #BF8B9C url(../pics/jslogoblueyellow.svg) no-repeat;
}


/*images*/
#dummies {float: left; padding: 10px 10px 0px 10px;}/*presentation.html*/

#badge {padding: 10px 10px 0px 10px;}/*index.html*/

#testpic {padding: 10px 10px 0px 10px;}/*laborationer.html*/
/*images*/

/*meny*/
#navigation{
	margin:0px 0px 10px 0px;
	text-align:center;
	font-size:100%;
	font-family: 'Merriweather', serif;
}
#navigation ul{
	border: 0px solid black;
	display:inline-block;
}
#navigation li{
	display:inline-block;
}

#navigation>ul>li a{
	padding: 0px 50px 0px 50px;
	border:1px solid black;
	text-decoration:none;
	color:#000000;
	background-color:#BF8B76;
}
#navigation a:hover:not(.active){
	background-color:#F7B499;
}
#navigation .active{
	color:#000000;
	background-color:#85766E;
}
/*meny*/



/*content*/
#content{
	text-align:left;
	clear:none;
	display:block;
	line-height: 150%;
	word-wrap: normal;
	font-family:'lora';
}
#content p{
	width:80%;
}
#content h1{
	font-size:150%;
	padding:10px;
	padding-top:30px;
	padding-left:40px;
	font-weight:bold;
	display:block;
	clear:none;
	text-align:left;
}

#content h1:not(::first-of-type){
	background:url(../pics/bluearrow.svg) no-repeat;
	background-position: 0px 30px;
	background-size:50px;
}


#content h2{
	font-size:140%;
	padding:10px;
	padding-top:20px;
	font-weight:bold;
}

#content p, li, h2 , dd, dt, label, select{
	padding-left:5px;
}
#content dt{
	font-weight:bold;
}
#content dd{
	padding-left:20px;
}
#content legend{
	padding:20px;
	font-weight:bold;
	font-size:120%;
}
#content select{
	margin-left: 5px;
}
#content table{
	margin: 0px 0px 0px 10px;
}
#content td, th, tfoot{
		text-align:center;
		border-width: 1px;
		border:1px solid black;
		padding:3px;
}
/*content*/



/*text*/
#aboutme{
	clear:none;
	display:block;
}

#infoschool{
	padding: 0px 0px 0px 5px;
clear:left;
}
#str_weak{
}
#priorities{
	padding: 0px 0px 0px 5px;
}
/*text*/


/*footer*/
#footer{
	border: 1px solid black;
	text-align:center;
	clear:none;
	padding:10px;
	background-color:#EDEFF1;
}
/*footer*/