/*  The Css reset part was made by Eric Meyer
	http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 16px;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*end of css reset*/




#container{
	margin-left:10px;
	border:5px solid black;
	margin-top:0px;
	text-align:center;
	background-color:white;
	height:500px;
	width:1200px;
	float:none;
}
#explosionsound{
	display:none;
}
#snoopsong{
	display:none;
}

#thebox{
    position:absolute;
    background-image:url(rabbitmoving.gif);
    background-repeat: no-repeat;
    background-size: contain;
    height:70px;
    width:70px;
}

#testbutton{
    position:absolute;
    background-image:url(snoopdogg.gif);
    width:70px;
    height:70px;
    background-size: contain;
}

#explosion{
	display:none;
	position:absolute;

    width:150px;
    height:150px;
    background-size: contain;
    background-repeat: no-repeat;
	
}
#easterbomb{
	display:none;
	position:absolute;
    background-image:url(easterbomb.png);
    width:30px;
    height:30px;
    background-size: contain;
    background-repeat: no-repeat;
	
}


#gameoverdisplay{
	font-size:100px;
	position:absolute;
	left:20%;
	display:none;
}
#timer {
	position:absolute;
	left:75%;
	top:5%;
	font-size:50px;
}

#startingtext{
	top:20%;
	font-size:100px;
	position:absolute;
	left:10%;
	display:none;
}
#startingtimer{
	top:20%;
	font-size:100px;
	position:absolute;
	left:48%;
	display:none;
}

#restartbutton{
	width:200px;
	font-size:40px;
	border:5px solid black;
	
}
#beginbutton{
	width:200px;
	font-size:40px;
	border:5px solid black;
}

#survivaltimer{
	display:none;
	position:absolute;
	left:90%;
	top:20%;
	font-size:40px;
}


#footer{
	display:none;
	top: 500px;
	position:relative;
	margin-left: auto;
    margin-right: auto;
    margin-top:20px;
    margin-bottom:20px;
	border: 1px solid black;
	text-align:center;
	padding:10px;
	background-color:#EDEFF1;
	box-shadow: 2px 2px 2px black;
}